@charset "UTF-8";

body {
    font-family: 'Lato', sans-serif; 
    font-size:16px; 
    background-color: #505050; 
}

.hidden {
    display: none;
}

.profileImg {
    border: 3px solid white;
}

#bottomPanel {
  margin:0;
}

.bodyC {
    position:relative;
    padding:0;
    background-color:#f1f1f1;
    margin-right:-15px;
    max-width:1184px;
}

.box2, .box3 { padding-left:0; }

#mainImg { width: 100%; }

.courseStuff, .calendarStuff, .lowerPanelNav, .footerStuff { margin:0; }

#mBubble { 
    position:absolute; 
    background-color:#853c37; 
    width:15px; height:15px; 
    font-size:1rem; 
    left:25px; 
    top:-3px; 
}

.calendar, .trending, .sports { 
    height:350px;
    background-color: #959595;
    color:white;
    font-size: .8rem;
}